*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fafafa;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.div{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    height: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #f6d365, #fda085);
    color: white;
    margin: 100px 0;
    border-radius: 10px;
}